Repository KEEPER31337/Java-Practice, pull requests merged in 2023-07, with the labels that each got.

#2 docs: Hello world 출력하기
  src/main/java/Problem/shkisme/Chapter1/HelloWorld.java
  src/main/java/Problem/stopmin/Chapter1/HelloWorld.java
Labels: gpt review

#6 Update HelloWorld.java
  src/main/java/Problem/yejun/Chapter1/HelloWorld.java
Labels: gpt review

#1 Update HelloWorld.java
  src/main/java/Problem/kimminjun/Chapter1/HelloWorld.java
Labels: gpt review

#16 3~4 practice sunny
  src/main/java/Practice/sunny/Chapter3/ArrayListPractice.java
  src/main/java/Practice/sunny/Chapter3/CastingFinalPractice.java
  src/main/java/Practice/sunny/Chapter3/EnumPractice.java
  src/main/java/Practice/sunny/Chapter3/MapPractice.java
  src/main/java/Practice/sunny/Chapter3/NumBoolPractice.java
  src/main/java/Practice/sunny/Chapter3/SetPractice.java
  src/main/java/Practice/sunny/Chapter3/StringPractice.java
  src/main/java/Practice/sunny/Chapter4/ForPractice.java
  src/main/java/Practice/sunny/Chapter4/IfPractice.java
  src/main/java/Practice/sunny/Chapter4/SwitchCasePractice.java
  src/main/java/Practice/sunny/Chapter4/WhilePractice.java
  src/main/java/Save/Chapter3/Q03.java
Labels: practice

#15 Solved: Practice 3~4
  src/main/java/Practice/stopmin/Coffeetype.java
  src/main/java/Practice/stopmin/FinalPractice.java
  src/main/java/Practice/stopmin/HelloWorld.java
  src/main/java/Practice/stopmin/ListPractice.java
  src/main/java/Practice/stopmin/NumberPractice.java
  src/main/java/Practice/stopmin/Sample.java
  src/main/java/Practice/stopmin/StringPractice.java
  src/main/java/Problem/stopmin/Chapter3/Q01.java
  src/main/java/Problem/stopmin/Chapter3/Q02.java
  src/main/java/Problem/stopmin/Chapter3/Q03.java
  src/main/java/Problem/stopmin/Chapter3/Q05.java
  src/main/java/Problem/stopmin/Chapter3/Q06.java
  src/main/java/Problem/stopmin/Chapter3/Q07.java
  src/main/java/Problem/stopmin/Chapter3/Q08.java
  src/main/java/Problem/stopmin/Chapter3/Q09.java
  src/main/java/Problem/stopmin/Chapter3/Q10.java
  src/main/java/Problem/stopmin/Chapter4/Q02.java
  src/main/java/Problem/stopmin/Chapter4/Q03.java
  src/main/java/Problem/stopmin/Chapter4/Q04.java
  src/main/java/Problem/stopmin/Chapter4/Q05.java
  src/main/java/Save/Chapter3/Q01.java
  src/main/java/Save/Chapter3/Q03.java
Labels: gpt review, problem

#12 add 3,4 problem solve
  src/main/java/Problem/shkisme/Chapter3/Q01.java
  src/main/java/Problem/shkisme/Chapter3/Q02.java
  src/main/java/Problem/shkisme/Chapter3/Q03.java
  src/main/java/Problem/shkisme/Chapter3/Q04.java
  src/main/java/Problem/shkisme/Chapter3/Q05.java
  src/main/java/Problem/shkisme/Chapter3/Q06.java
  src/main/java/Problem/shkisme/Chapter3/Q07.java
  src/main/java/Problem/shkisme/Chapter3/Q08.java
  src/main/java/Problem/shkisme/Chapter3/Q09.java
  src/main/java/Problem/shkisme/Chapter3/Q10.java
  src/main/java/Problem/shkisme/Chapter4/Q02.java
  src/main/java/Problem/shkisme/Chapter4/Q03.java
  src/main/java/Problem/shkisme/Chapter4/Q04.java
  src/main/java/Problem/shkisme/Chapter4/Q05.java
Labels: problem

#13 add: ~4 practice
  src/main/java/Practice/shkisme/Chapter3/ArrayPractice.java
  src/main/java/Practice/shkisme/Chapter3/BooleanPractice.java
  src/main/java/Practice/shkisme/Chapter3/CastingPractice.java
  src/main/java/Practice/shkisme/Chapter3/CharPractice.java
  src/main/java/Practice/shkisme/Chapter3/EnumPractice.java
  src/main/java/Practice/shkisme/Chapter3/FinalPractice.java
  src/main/java/Practice/shkisme/Chapter3/ListPractice.java
  src/main/java/Practice/shkisme/Chapter3/MapPractice.java
  src/main/java/Practice/shkisme/Chapter3/NumberPractice.java
  src/main/java/Practice/shkisme/Chapter3/SetPractice.java
  src/main/java/Practice/shkisme/Chapter3/StringBufferPractice.java
  src/main/java/Practice/shkisme/Chapter3/StringPractice.java
  src/main/java/Practice/shkisme/Chapter4/ForEachPractice.java
  src/main/java/Practice/shkisme/Chapter4/ForPractice.java
  src/main/java/Practice/shkisme/Chapter4/IfPractice.java
  src/main/java/Practice/shkisme/Chapter4/SwitchPractice.java
  src/main/java/Practice/shkisme/Chapter4/WhilePractice.java
  src/main/java/Practice/shkisme/Cookie.java
  src/main/java/Practice/shkisme/PracticeJava.java
  src/main/java/Practice/shkisme/Sample.java
Labels: practice

#31 Problem5 stopmin
  src/main/java/Practice/stopmin/Chapter3/Coffeetype.java
  src/main/java/Practice/stopmin/Chapter3/FinalPractice.java
  src/main/java/Practice/stopmin/Chapter3/HelloWorld.java
  src/main/java/Practice/stopmin/Chapter3/ListPractice.java
  src/main/java/Practice/stopmin/Chapter3/NumberPractice.java
  src/main/java/Practice/stopmin/Chapter3/Sample.java
  src/main/java/Practice/stopmin/Chapter3/StringPractice.java
  src/main/java/Practice/stopmin/Chapter5/Animal.java
  src/main/java/Practice/stopmin/Chapter5/Calculator.java
  src/main/java/Practice/stopmin/Chapter5/Dog.java
  src/main/java/Practice/stopmin/Chapter5/HouseDog.java
  src/main/java/Practice/stopmin/Chapter5/Student.java
  src/main/java/Practice/stopmin/Chapter5/objectOriented.java
  src/main/java/Problem/stopmin/Chapter5/Calculator.java
  src/main/java/Problem/stopmin/Chapter5/MaxLimitCalculator.java
  src/main/java/Problem/stopmin/Chapter5/Q01.java
  src/main/java/Problem/stopmin/Chapter5/Q02.java
  src/main/java/Problem/stopmin/Chapter5/Q03.java
  src/main/java/Problem/stopmin/Chapter5/Q04.java
  src/main/java/Problem/stopmin/Chapter5/Q05.java
  src/main/java/Problem/stopmin/Chapter5/Q7/Bronze.java
  src/main/java/Problem/stopmin/Chapter5/Q7/Gold.java
  src/main/java/Problem/stopmin/Chapter5/Q7/MineralCalculator.java
  src/main/java/Problem/stopmin/Chapter5/Q7/Q07.java
  src/main/java/Problem/stopmin/Chapter5/Q7/Silver.java
  src/main/java/Problem/stopmin/Chapter5/Q8_9/Q08.java
  src/main/java/Problem/stopmin/Chapter5/Q8_9/Q09.java
  src/main/java/Problem/stopmin/Chapter5/UpgradeCalculator.java
Labels: gpt review, problem
